.layout {
  width: 100%;
}
.container .bb_box .form {
  width: 500px;
  padding: 0 0  15px 0;
  background-color: #0016ff;
  position: absolute;
  top: 150px;
  left: 200px;
}
.container .bb_box .form h3 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: move;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.container .bb_box .form div {
  width: 500px;
  padding: 0 15px;
  box-sizing: border-box;
}
.container .bb_box .form div input {
  border: 0;
  padding: 0;
  font-size: 14px;
  outline: none;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.container .bb_box .form div input[type='text'],
.container .bb_box .form div input[type='password'] {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
.container .bb_box .form div input[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.container .bb_box .form div .img {
  vertical-align: middle;
  border: 0;
  width: 140px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
}
.container .bb_box .form div .img img {
  width: 100%;
}
.container .bb_box .form div.flex {
  display: flex;
}
.container .bb_box .form div.opa {
  border-bottom: 1px solid #ccc;
}
